<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/context
	    http://www.springframework.org/schema/context/spring-context-2.5.xsd"
>
    <context:annotation-config/>
    <tx:annotation-driven/>
    <bean
            class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor"/>
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://localhost:5432/demo"/>
        <property name="username" value="postgres"/>
        <property name="password" value="mysecretpassword"/>
    </bean>
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="packagesToScan" value="com.cgi.irman.trade"/>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>

    <bean id="nullValidator" class="com.cgi.irman.trade.validation.NullValidator"/>
    <bean id="dateValidator" class="com.cgi.irman.trade.validation.DateValidator"/>
    <bean id="versionValidator" class="com.cgi.irman.trade.validation.VersionValidator"/>

    <bean id="tradeDao" class="com.cgi.irman.trade.TradeDAO">
        <property name="hibernateTemplate" ref="hibernateTemplate"/>
    </bean>
    <bean id="tradeService" class="com.cgi.irman.trade.TradeService">
        <property name="tradeDao" ref="tradeDao"/>
        <property name="validators">
            <list value-type="com.cgi.irman.trade.validation.ValidatorInterface">
                <ref bean="nullValidator"/>
                <ref bean="dateValidator"/>
                <ref bean="versionValidator"/>
            </list>
        </property>
    </bean>
    <bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
</beans>